/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body {
    font-family: 'Open Sans', sans-serif;
}



ul {

    list-style-type: none
}

a {
    color: #000;
    text-decoration: none;

}

img {
    max-width: 100%;
}

.btn {

    padding: 10px 15px;
    display: inline-block;
    /*altimenti si attaccano*/


}



.btn.btn-small {


    padding: 5px 10px;

}




.btn.btn-primary {
    /*per via del fatto che il codice deve essere rivisitato ogni volta potresti fare il :root */

    color: #fff;
    background-color: #0061ff;


}

/*spaziatura */


.margin-b30 {
    margin-bottom: 30px;

}




/*Utils*/


.container {

    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;

    font-weight: 600;

    margin-bottom: 41px;
    /*cosi lo stacchiamo subito dopo*/

}

/*intestazione principale */
h2 {

    font-size: 40px;
    margin-bottom: 60px;
}

section {
    padding: 60px;
}

#main-header {
    /* decidi se mettere fixede  top left right 0 */

    z-index: 1;
    /*lo stacco dal flusso */

    height: 100px;

    background-color: #fff;
    /*altrimenti se scorri è trasparente */

    box-shadow: 0 1px 3px #dedede;
    /*ricordati di rivedere questo colore */

    position: sticky;
    /*ricorda che si attacca al genitore */
    /*con fixed metti le coordinate per dopo e nel body metti il padding o nono funziona */

    top: 0;
    /*così facendo lo distribuiamo su tutto il contenuto con sticky*/
    left: 0;

    display: flex;
    /*non centrare qui le liste!!!!!!!!!!!!!!!!!!*/


    justify-content: space-between;
    /*non mettere aroun dopo */

    align-items: center;
    /*centra i due nav  centratura verticale delle nav bar */

    padding: 20px;
    margin-bottom: 0px;



}


/*tutte le liste figlie */
#main-header ul {


    display: flex;
    gap: 30px;
    align-items: center;


}


#dropbox {


    background-color: #B4D0E7;

    /*inizialmente metti una min height per vederlo, appena poni l'immagine stacca min*/

    height: 625px;
    margin-bottom: 80px;




}


/*impostazione layout jubotron*/

.row {
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;



}

/*colonna di dx*/

.col-dx {

    flex-basis: 70%
}

/*colonna di sx mettimao flex basis perchè abbiamo utilizzato flex  */

.col-sx {

    flex-basis: 30%
}

/*ai paragrafi con classe margin-b30 diamo questa classe in modo tale che siano spaziati perchè sono inline e hanno un padding che gli altri elementi non di prendono */




/*sezione prezzi */


.small-container {


    margin: 0 auto;

    max-width: 1000px;

}

.row.piani-acquisto {

    gap: 40px;
}

.col {

    flex-basis: calc(100%/3 -80px / 3);
    min-height: 80px;
    flex-grow: 1;
    /*si allarga se può*/

    border: 2px dashed;
}




.quadrati {


    display: flex;

    background-color: #fff;
}

.quadrati .quadrato {


    width: calc(100vw /3);
    height: calc(100vw/3);

    display: flex;
    flex-wrap: wrap;


}


.quadrato .micro-quad {


    width: 50%;
    height: 50%;




    display: flex;
    align-items: center;
    /*centratura quadrato nell'asse secondario*/
    justify-content: center;

}


.micro-quad img {

    width: 55%;
}



/*colori riutilizzabili */

.green {

    background-color: greenyellow;
}

.sred {

    background-color: rgb(76, 5, 5);
}

.red {
    background-color: red;
}


.sky {

    background-color: #2365cf;
}

.smallgrey {

    background-color: rgb(97, 86, 86);
}

.blue {

    background-color: blue;
}

.yellow {

    background-color: yellow;
}


.azure {

    background-color: rgb(123, 164, 192);
}





#partner {
    padding-bottom: 0;
}

#free {


    padding-top: 0;
}